@font-face { font-family: 'yg-jalnan'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff'); font-weight: normal; font-style: normal; }


#m_login_body {
    background-image: url("https://cdn-images-1.medium.com/max/1200/1*0P7eQah_-ACqd-lx9xLj1w.jpeg");   
    opacity: 1;
    width: 100%;
    height: 100%;
    position: absolute;
    background-size: cover;
    -webkit-font-smoothing: antialiased;
    
}

.m_container {
    margin: 250px auto;
    width: 350px; 
}

.m_login{
    position: relative;
    margin: 0 auto;
    padding: 20px 20px 20px;
    width: 310px;
    text-align: center;
    filter: alpha(opacity=100);
    background: rgb(218, 214, 214);
    border-radius: 5px;
}

  :-moz-placeholder {
    color: #c9c9c9 !important;
    font-size: 200px;
  }
   
  ::-webkit-input-placeholder {
    color: rgb(182, 179, 179);
    font-size: 13px;
  }

  .m_login:before {
    content: '';
    position: absolute;
    top: -8px;
    right: -8px;
    bottom: -8px;
    left: -8px;
    z-index: -1;
    border-radius: 4px;
    opacity: 0.5
  }
  
    #m_Login_Title {
    margin: -20px -20px 21px;
    line-height: 40px;
    width: 400px;
    font-size: 50px;
    font-weight: bold;
    color: rgb(219, 224, 250);
    text-align: center;
    text-shadow: 0 2px rgb(59, 90, 131);
    margin-bottom: 30px;
    margin-top: 20px;
    font-family: 'yg-jalnan'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff'); font-weight: normal; font-style: normal;
  }

  .m_login p {
    margin: 20px 0 0;
  }

  .m_login p:first-child {
    margin-top: 0;
  }
   
  .m_login input[placeholder="Press your email"], .m_login input[type=password] {
    margin: 5px;
    padding: 0 10px;
    width: 200px;
    height: 34px;
    color: rgb(3, 76, 87);
    background: white;
    border: 1px solid;
    border-color: #c4c4c4 #d1d1d1 #d4d4d4;
    border-radius: 10px;
    -moz-outline-radius: 3px;
    -webkit-box-shadow: inset 0 1px 3px powderblue;
    box-shadow: inset 0 1px 3px powderblue;
  }
   
  .m_login input[placeholder="Press your email"]:focus, .m_login input[type=password]:focus {
    border-color: powderblue;
    outline-color: powderblue;
    outline-offset: 0;
  }

  .m_login_btn {
    text-align: center;
    padding: 0 18px;
    height: 29px;
    font-size: 12px;
    font-weight: bold;
    color: white;
    background: #343d6d;
    border: 1px solid #343d6d;
    border-radius: 10px;
    margin-left: 7px;
    margin-right: 7px;
  }

  .m_btnDiv {
      text-align: center;
      opacity: 0.8;
  }

  .m_btnDiv:hover {
    opacity: 1;
  }
