.cards {
  padding: 0px 10px;
}

.card {
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 5px;
  background-color: #eb8f90;
  color: #0A142A;
}

.k_c_pencil {
  margin-right: 5px;
}

.k_c_pencil, .fa-eraser {
  color: #044759;
}

.k_card_input {
  border: none;
  height: 30px;
  border-radius: 5px;
  background-color: #eb8f90;
  padding-left: 5px;
  color: white;
  font-size: 15px;
}

.k_card_input::placeholder{
  color: white;
  font-size: 15px;
}