.board_lists_body {
  display: flex;
}

.board_lists {
  display: flex;
  margin-top: 40px;
  margin-left: 60px;
}

.board_list {
  padding: 10px;
  border: 1px solid black;
  width: 275px;
  margin-right: 50px;
}

.board_title {
  margin-bottom: 5px;
}

.board_list_plus {
  display: inline;
  border: 1px solid black;
  
}

.board_list_plus_title {
  padding: 7px;
  width: 275px;
}