.top_name_and_team_plus {
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
}

.board_Name {
  font-size: 25px;
  font-weight: bold;
}

.board_Description {
  font-size: 15px;
  z-index: 0;
}

.k_topName_botttom {
  display: flex;
  position: absolute;
  left: 35%;
  top: 25%;
  text-align: center;
}

.k_modify_team_logout {
  display: flex;
}

.k_modify {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
}

.k_top_logout {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
}

.k_goto_team_manage {
  margin-right: 10px;
}

.k_button {
  border: 0;
  border-radius: 10px;
  font-size: 12px;
  background-color: #12406A;
  color: white;
}

.k_pen_fancy, .k_sign_out, .k_top_check {
  margin-bottom: 3px;
}

.k_top_name_description {
  padding-top: 10px;
  padding-bottom: 10px;
}

.k_input {
  margin-bottom: 10px;
}

.fa-users {
  padding-bottom: 3px;
}